- name: Install and run nginx
  hosts: web
  become: yes
  tasks:
  - name: Install nginx
    ansible.builtin.package:
      name: nginx
      state: present

- name: Start and enable service for nginx
  ansible.builtin.service:
    name: nginx
    state: started
    enabled: yes    
